@using Mzh.Public.Model.Model;
@{
    var ProductInfo = ViewBag.ProductInfo as ShowProductInfo;
    var allcates = ViewBag.allcates as List<ShowCatecory>;
    var pcates = ViewBag.pcates as List<ShowCatecory>;
    var catevalues = string.Join(",", pcates.Select(t => t.name).ToArray());
    var cateids = string.Join(",", pcates.Select(t => t.cateid.ToString()).ToArray());
    var showimg = ProductInfo.showimg == null ? "" : ProductInfo.showimg;
    var mainimgs = ProductInfo.mainImgs == null ? "" : string.Join(",", ProductInfo.mainImgs.OrderBy(t => t.displayorder).Select(t => t.showimg).ToArray());
    var detailimgs = ProductInfo.detailImgs == null ? "" : string.Join(",", ProductInfo.detailImgs.OrderBy(t => t.displayorder).Select(t => t.showimg).ToArray());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/wwwroot/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/wwwroot/css/public.css" media="all">
    <style>
        .valuebtn {
            width: 80%;
            margin-top: 5px;
            margin-left: 10%;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            @*<blockquote class="layui-elem-quote layui-text">
                    鉴于小伙伴的普遍反馈，先温馨提醒两个常见“问题”：1. <a href="/doc/base/faq.html#form" target="_blank">为什么select/checkbox/radio没显示？</a> 2. <a href="/doc/modules/form.html#render" target="_blank">动态添加的表单元素如何更新？</a>
                </blockquote>*@
            <img style="width:100%;height:auto" id="testimg" />
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>添加商品</legend>
            </fieldset>

            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <label class="layui-form-label">商品类别</label>
                    <div class="layui-input-inline">
                        <input type="text" readonly name="cateids" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" id="demo" data-tag="" value="@catevalues" ts-selected="@cateids">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="productname" lay-verify="required" autocomplete="required" value="@ProductInfo.name" placeholder="请输入商品名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="state" value="1" title="上架" @(ProductInfo.state == 1 ? "checked" : "")>
                        <input type="radio" name="state" value="0" title="下架" @(ProductInfo.state == 0 ? "checked" : "")>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">商品描述</label>
                    <div class="layui-input-block">
                        <textarea name="productdescription" placeholder="请输入内容" class="layui-textarea">@ProductInfo.description</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-inline">
                            <input type="number" name="displayorder" lay-verify="required" value="@ProductInfo.displayorder" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">现价</label>
                        <div class="layui-input-inline">
                            <input type="number" name="shopprice" value="@ProductInfo.shopprice" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">原价</label>
                        <div class="layui-input-inline">
                            <input type="number" name="macketprice" value="@ProductInfo.marketprice" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">包装费</label>
                        <div class="layui-input-inline">
                            <input type="number" name="packprice" value="@ProductInfo.packprice" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">重量(kg)</label>
                        <div class="layui-input-inline">
                            <input type="number" name="weight" lay-verify="required" value="@ProductInfo.weight" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">库存</label>
                        <div class="layui-input-inline">
                            <input type="number" name="stock" lay-verify="required" value="@ProductInfo.stock" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否满减</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isfullcut" value="1" title="是" @(ProductInfo.isfullcut == 1 ? "checked" : "")>
                        <input type="radio" name="isfullcut" value="0" title="否" @(ProductInfo.isfullcut == 0 ? "checked" : "")>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否支持外卖</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isbest" value="1" title="是" @(ProductInfo.isbest == 1 ? "checked" : "")>
                        <input type="radio" name="isbest" value="0" title="否" @(ProductInfo.isbest == 0 ? "checked" : "")>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否热销商品</label>
                    <div class="layui-input-block">
                        <input type="radio" name="ishot" value="1" title="是" @(ProductInfo.ishot == 1 ? "checked" : "")>
                        <input type="radio" name="ishot" value="0" title="否" @(ProductInfo.ishot == 0 ? "checked" : "")>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否新上商品</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isnew" value="1" title="是" @(ProductInfo.isnew == 1 ? "checked" : "")>
                        <input type="radio" name="isnew" value="0" title="否" @(ProductInfo.isnew == 0 ? "checked" : "")>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">商品规格</label>
                    <div class="layui-input-block">
                        <a class="layui-btn add-attribute">添加属性</a>
                    </div>
                </div>
                <div id="sku-div" style="width:82%;margin-left:9%">
                    @foreach (var attribute in ProductInfo.attributes)
                    {
                        <div class="layui-card attribute-div" style="width:100%" data-id="@attribute.attrid">
                            <div class="layui-card-header" style="background-color:lightgray;width:100%;">
                                @attribute.name
                                <button class="layui-btn layui-btn-danger" style="margin-right:5px;float:right" data-id="@attribute.attrid" onclick="DeleteAttribute(this); return false;">删除</button>
                                <button class="layui-btn layui-btn-warm add-value" style="margin-right:5px;float:right" data-id="@attribute.attrid" data-name="@attribute.name" onclick="AddValue(this); return false;">添加值</button>
                            </div>
                            <div class="layui-card-body" style="background-color:whitesmoke">
                                <div class="layui-input-block layui-row">
                                    @foreach (var value in attribute.attributevalues)
                                    {
                                        <div class="layui-col-md2 value-div" data-attrid='@attribute.attrid' data-id="@value.attrvalueid" data-name="@attribute.name" data-value="@value.attrvalue" data-price="" data-stock="" onclick="EditValue(this); return false;">
                                            <a class="layui-btn layui-btn-normal valuebtn">@value.attrvalue</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="layui-form-item" style="margin-top:20px">
                    <label class="layui-form-label">商品主图</label>
                    <div class="layui-input-block">
                        <div id="cupload-proshowimg"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品详情图</label>
                    <div class="layui-input-block">
                        <div id="cupload-promainimgs"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品介绍图</label>
                    <div class="layui-input-block">
                        <div id="cupload-prodetailimgs"></div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top:20px">
                    <div class="layui-input-block">
                        <button class="layui-btn addproduct" lay-submit="" lay-filter="demo1">添加</button>
                        <button class="layui-btn layui-btn-primary cancel">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/wwwroot/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="~/wwwroot/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/wwwroot/js/lay-config.js"></script>
    <script src="~/Scripts/mzhconfig.js"></script>
    <script src="~/wwwroot/js/cupload.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        //每次打开新增属性界面，记录当前的attributediv
        var addvalueDiv;
        //每次编辑属性值，记录当前的属性值div
        var editvalueDiv;
        //当前的产品id
        var pid = 0;
        var cuploadproshowimg = new Cupload({
            ele: '#cupload-proshowimg',
            num: 1,
            @if(showimg != "")
            {
                @:data:["@showimg"]
            }

        });
        var cuploadpromainimgs = new Cupload({
            ele: '#cupload-promainimgs',
            num: 20,
            @if(mainimgs != "")
            {
                @:data:["@mainimgs"]
            }
        });
        var cuploadprodetailimgs = new Cupload({
            ele: '#cupload-prodetailimgs',
            num: 20,
            @if(detailimgs != "")
            {
                @:data:["@detailimgs"]
            }
        });

        layui.use(['form', 'layedit', 'laydate', 'tableSelect', 'element'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , tableSelect = layui.tableSelect;
            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });

            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //监听提交
            form.on('submit(demo1)', function (data) {

                var skuinfos = GetSkuJson();
                if (skuinfos == false) {
                    layer.alert("商品至少要有一个规格，并且已有属性必须有值！");
                    return false;
                }


                var showimg = '';
                var mainimgs = [];
                var detailimgs = [];
                if (cuploadproshowimg.imageInput.length == 0) {
                    layer.alert("商品主图必须上传！");
                    return false;
                }
                showloading(true);
                if (cuploadproshowimg.imageInput[0].value.indexOf("shopapi") != -1) {
                    showimg = cuploadproshowimg.imageInput[0].value;
                } else {
                    $.ajax({
                        type: 'post',
                        url: domain + '/Upload/Base64Str',
                        data: { base64str: cuploadproshowimg.imageInput[0].value },
                        async: false,
                        success: function (res) {
                            if (res.state == 1) {
                                showimg = res.msg;
                            } else {
                                showloading(false);
                                layer.alert("商品主图上传失败");
                                return false;
                            }
                        }
                    })
                }

                for (var i = 0; i < cuploadpromainimgs.imageInput.length; i++) {
                    if (cuploadpromainimgs.imageInput[0].value.indexOf("shopapi") != -1) {
                        var newimg = {
                            "showimg": cuploadpromainimgs.imageInput[0].value,
                            "displayorder": i + 1
                        }
                        mainimgs.push(newimg);
                    } else {
                        $.ajax({
                            type: 'post',
                            url: domain + '/Upload/Base64Str',
                            data: { base64str: cuploadpromainimgs.imageInput[i].value },
                            async: false,
                            success: function (res) {
                                if (res.state == 1) {
                                    var newimg = {
                                        "showimg": res.msg,
                                        "displayorder": i + 1
                                    }
                                    mainimgs.push(newimg);
                                } else {
                                    showloading(false);
                                    layer.alert("商品详情图第" + (i + 1) + "张上传失败！");
                                    return false;
                                }
                            }
                        })
                    }
                }
                for (var i = 0; i < cuploadprodetailimgs.imageInput.length; i++) {
                    if (cuploadpromainimgs.imageInput[0].value.indexOf("shopapi") != -1) {
                        var newimg = {
                            "showimg": cuploadpromainimgs.imageInput[0].value,
                            "displayorder": i + 1
                        }
                        detailimgs.push(newimg);
                    } else {
                        $.ajax({
                            type: 'post',
                            url: domain + '/Upload/Base64Str',
                            data: { base64str: cuploadprodetailimgs.imageInput[i].value },
                            async: false,
                            success: function (res) {
                                if (res.state == 1) {
                                    var newimg = {
                                        "showimg": res.msg,
                                        "displayorder": i + 1
                                    }
                                    detailimgs.push(newimg);
                                } else {
                                    showloading(false);
                                    layer.alert("商品介绍图第" + (i + 1) + "张上传失败！");
                                    return false;
                                }
                            }
                        })
                    }

                }
                showloading(false);

                console.log($("#demo"));
                var submitdata =
                {
                    "pid": pid,
                    "cateids": $("#demo").data("tag").split(','),
                    "name": data.field.productname,
                    "state": data.field.state,
                    "shopprice": data.field.shopprice,
                    "marketprice": data.field.macketprice,
                    "costprice": 0,
                    "isbest": data.field.isbest,
                    "ishot": data.field.ishot,
                    "isnew": data.field.isnew,
                    "displayorder": data.field.displayorder,
                    "weight": data.field.weight,
                    "showimg": showimg,
                    "description": data.field.productdescription,
                    "isfullcut": data.field.isfullcut,
                    "packprice": data.field.packprice,
                    "mainImgs": mainimgs,
                    "detailImgs": detailimgs,
                    "skuInfos": skuinfos
                }

                showloading(true)
                $.ajax({
                    type: 'post',
                    url: domain + '/Product/AddProduct',
                    data: { model: submitdata },
                    success: function (res) {
                        showloading(false);
                        layer.alert(res.msg);
                    }
                })
                return false;
            });



            tableSelect.render({
                elem: '#demo',
                searchKey: 'name',
                checkedKey: 'cateid',
                searchPlaceholder: '请选择商品类别',
                table: {
                    url: domain + '/Product/GetCategories',
                    //url: '../../wwwroot/api/tableSelect.json',
                    cols: [[
                        { type: 'checkbox' },
                        { field: 'cateid', title: 'ID', width: 100 },
                        { field: 'name', title: '名称', width: 300 }
                    ]]
                },
                done: function (elem, data) {
                    var NEWJSON = []
                    var IDJSON = []
                    layui.each(data.data, function (index, item) {
                        NEWJSON.push(item.name)
                        IDJSON.push(item.cateid)
                    })
                    elem.val(NEWJSON.join(","))
                    elem.data("tag", IDJSON.join(","))
                    console.log(elem.data("tag"))
                }
            })



        });
        $(function () {
            $(".add-attribute").click(function () {
                var index = layer.open({
                    title: '添加属性',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '50%'],
                    content: '/Product/SkuAddAttribute',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            })
        });


        //提供给弹出层调用的方法,新增属性
        function AddAttribute(id, name) {
            var newdiv = '<div class="layui-card attribute-div" style="width:100%" data-id="' + id + '">'
                + '<div class="layui-card-header" style="background-color:lightgray;width:100%;">'
                + name
                + '<button class="layui-btn layui-btn-danger" style="margin-right:5px;float:right" data-id="' + id + '" onclick="DeleteAttribute(this); return false;">删除</button>'
                + '<button class="layui-btn layui-btn-warm add-value" style="margin-right:5px;float:right" data-id="' + id + '" data-name="' + name + '" onclick="AddValue(this); return false;">添加值</button>'
                + '</div>'
                + '<div class="layui-card-body" style="background-color:whitesmoke">'
                + '<div class="layui-input-block layui-row">'
                + '</div></div></div>';
            $("#sku-div").append(newdiv);
            $("#sku-div").load();
        }

        //提供给弹出层调用的方法,新增属性值
        function AddAttributeValue(attrid, id, name, value, price, stock) {
            var newdiv = '<div class="layui-col-md2 value-div" data-attrid=' + attrid + ' data-id="' + id + '" data-name="' + name + '" data-value="' + value + '" data-price="' + price + '" data-stock="' + stock + '" onclick="EditValue(this); return false;">'
                + '<a class="layui-btn layui-btn-normal valuebtn">' + value + '</a>'
                + '</div>';
            $(addvalueDiv).append(newdiv);
            $(addvalueDiv).load();
        }

        //提供给弹出层调用的方法,编辑属性值
        function UpdateAttributeValue(value, price, stock) {
            $(editvalueDiv).data("value", value);
            $(editvalueDiv).data("price", price);
            $(editvalueDiv).data("stock", stock);
            $($(editvalueDiv).children()[0]).html(value);
        }

        //提供给弹出层调用的方法,删除属性值
        function DeleteAttributeValue() {
            $(editvalueDiv).remove();
        }

        function DeleteAttribute(obj) {
            var alert = layer.confirm('确认删除吗？' + ($(obj).data("id") == 0 ? '' : '(删除已存在的属性将不需要保存就会删除)'), {
                btn: ['确认', '取消'] //按钮
            }, function () {
                if ($(obj).data("id") == 0) {
                    console.log($(obj).parent().parent());
                    $(obj).parent().parent().remove();
                }//表示还未添加到数据库的数据直接删除
                else {
                    $(obj).parent().parent().remove();
                }//调用接口删除
                layer.close(alert);
            }, function () {
                layer.close(alert);
            });
            return false;
        }

        function AddValue(obj) {
            addvalueDiv = $($(obj).parent().parent().children()[1]).children()[0];
            var index = layer.open({
                title: '添加属性值',
                type: 2,
                shade: 0.2,
                maxmin: true,
                shadeClose: true,
                area: ['50%', '50%'],
                content: '/Product/SkuAddValue?attrid=' + $(obj).data("id") + '&attributename=' + $(obj).data("name"),
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
            return false;
        }

        function EditValue(obj) {
            editvalueDiv = obj;
            var name = $(obj).data("name");
            var value = $(obj).data("value");
            var price = $(obj).data("price");
            var stock = $(obj).data("stock");

            var index = layer.open({
                title: '编辑属性值',
                type: 2,
                shade: 0.2,
                maxmin: true,
                shadeClose: true,
                area: ['50%', '50%'],
                content: '/Product/SkuAddValue?attrid=' + $(obj).data("attrid") + '&attributename=' + name + '&valueid=' + $(obj).data("id") + '&value=' + value + '&price=' + price + '&stock=' + stock,
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
            return false;
        }

        function GetSkuJson() {
            var result = [];
            var attributedivs = $("#sku-div").children();
            if (attributedivs.length == 0) return false;
            for (var index = 0; index < attributedivs.length; index++) {
                var skuinfo = {
                    "attrid": 0,
                    "name": "",
                    "attributevalues": []
                }
                skuinfo.attrid = $(attributedivs[index]).data("id");
                var paneldivs = $(attributedivs[index]).children();
                var skudivs = $($(paneldivs[1]).children()[0]).children();
                if (skudivs.length == 0) return false;
                else {
                    for (var index2 = 0; index2 < skudivs.length; index2++) {
                        skuinfo.name = $(skudivs[index2]).data("name");
                        var skuvalueinfo = {
                            "attrvalueid": 0,
                            "attrvalue": "",
                            "attrname": "",
                            "price": -1,
                            "stock": -1
                        }
                        skuvalueinfo.attrvalueid = $(skudivs[index2]).data("id");
                        skuvalueinfo.attrvalue = $(skudivs[index2]).data("value");
                        skuvalueinfo.attrname = skuinfo.name;
                        skuvalueinfo.price = $(skudivs[index2]).data("price");
                        skuvalueinfo.stock = $(skudivs[index2]).data("price");
                        skuinfo.attributevalues.push(skuvalueinfo);
                    }
                    result.push(skuinfo);
                }
            }

            return result;
        }

        var submitdata = {
            "cateid": 1,
            "name": "sample string 2",
            "shopprice": 3.0,
            "marketprice": 4.0,
            "costprice": 5.0,
            "isbest": 64,
            "ishot": 64,
            "isnew": 64,
            "displayorder": 9,
            "weight": 10,
            "showimg": "sample string 11",
            "description": "sample string 12",
            "isfullcut": 1,
            "packprice": 13.0,
            "mainImgs": [
                {
                    "showimg": "sample string 1",
                    "displayorder": 2
                },
                {
                    "showimg": "sample string 1",
                    "displayorder": 2
                }
            ],
            "detailImgs": [
                {
                    "showimg": "sample string 1",
                    "displayorder": 2
                },
                {
                    "showimg": "sample string 1",
                    "displayorder": 2
                }
            ],
            "skuInfos": [
                {
                    "attrid": 1,
                    "name": "sample string 2",
                    "attributevalues": [
                        {
                            "attrvalueid": 1,
                            "attrvalue": "sample string 2",
                            "attrname": "sample string 3"
                        },
                        {
                            "attrvalueid": 1,
                            "attrvalue": "sample string 2",
                            "attrname": "sample string 3"
                        }
                    ]
                },
                {
                    "attrid": 1,
                    "name": "sample string 2",
                    "attributevalues": [
                        {
                            "attrvalueid": 1,
                            "attrvalue": "sample string 2",
                            "attrname": "sample string 3"
                        },
                        {
                            "attrvalueid": 1,
                            "attrvalue": "sample string 2",
                            "attrname": "sample string 3"
                        }
                    ]
                }
            ]
        }

        //$(".addproduct").click(function () {
        //    showloading(true);
        //    var showimg = '';
        //    var mainimgs = [];
        //    var detailimgs = [];
        //    $.ajax({
        //        type: 'post',
        //        url: domain + '/Upload/Base64Str',
        //        data: { base64str: cuploadproshowimg.imageInput[0].value },
        //        async: false,
        //        success: function (res) {
        //            if (res.state == 1) {
        //                showimg = res.msg;
        //            } else {
        //                layui.alert("商品主图上传失败");
        //                return false;
        //            }
        //        }
        //    })
        //    for (var i = 0; i < cuploadpromainimgs.imageInput.length;i++) {
        //        $.ajax({
        //            type: 'post',
        //            url: domain + '/Upload/Base64Str',
        //            data: { base64str: cuploadpromainimgs.imageInput[i].value },
        //            async: false,
        //            success: function (res) {
        //                if (res.state == 1) {
        //                    mainimgs.push(res.msg);
        //                } else {
        //                    layui.alert("商品详情图第"+(i+1)+"张上传失败！");
        //                    return false;
        //                }
        //            }
        //        })
        //    }
        //    for (var i = 0; i < cuploadprodetailimgs.imageInput.length; i++) {
        //        $.ajax({
        //            type: 'post',
        //            url: domain + '/Upload/Base64Str',
        //            data: { base64str: cuploadprodetailimgs.imageInput[i].value },
        //            async: false,
        //            success: function (res) {
        //                if (res.state == 1) {
        //                    detailimgs.push(res.msg);
        //                } else {
        //                    layui.alert("商品介绍图第" + (i + 1) + "张上传失败！");
        //                    return false;
        //                }
        //            }
        //        })
        //    }


        //    return false;
        //})
    </script>

</body>
</html>
