@using Mzh.Public.Model.Model;
@{
    var productList = ViewBag.productList as List<ShowProductList>;
    int cateid = ViewBag.cateid;
    var cates = ViewBag.cates as List<ShowCatecory>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/wwwroot/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/wwwroot/css/public.css" media="all">
    <link href="~/Content/mzhstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-warm product-add">添加商品</a>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">选择分类</label>
                        <div class="layui-input-block" style="width:200px">
                            <select name="interest" id="producttypeselect" lay-filter="ptype">
                                <option value="0" selected="">全部</option>
                                @foreach (var item in cates)
                                {
                                    if (item.cateid == cateid)
                                    {
                                        <option value="@item.cateid" selected="">@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.cateid">@item.name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否在售</label>
                        <div class="layui-input-block" style="width:200px">
                            <select id="isonsale" lay-filter="ptype">

                                <option value="-1" selected="">全部</option>
                                @if (ViewBag.isonsale == 1)
                                {
                                    <option value="1" selected="">是</option>
                                }
                                else
                                {
                                    <option value="1">是</option>
                                }
                                @if (ViewBag.isonsale == 0)
                                {
                                    <option value="0" selected="">否</option>
                                }
                                else
                                {
                                    <option value="0">否</option>
                                }


                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-primary query">查询</a>
                    </div>
                </div>
            </form>

            @foreach (var plist in productList)
            {
                if (cateid != 0 && cateid == plist.cateid)
                {
                    <div class="layui-card catecard" style="background-color: rgba(246, 250, 249, 1);" id="card-@plist.cateid">
                        <div class="layui-card-header">@plist.catecategoryName</div>
                        <div class="layui-card-body">
                            @for (int i = 0; i < plist.productInfos.Count; i++)
                            {
                                <div class="layui-row" id="prow-@plist.cateid-@plist.productInfos[i].pid" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:@(i==0?0:20)px">
                                    <div class="layui-col-md6">
                                        <div class="layui-row">
                                            <div class="mzh-col" style="height:120px">
                                                <div style="width:200px;height:100%;margin-right:5px">
                                                    <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                                                    @*<img src="@plist.productInfos[i].showimg"/>*@
                                                </div>
                                                <div class="layui-row" style="height:100%">
                                                    <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                                        @(plist.productInfos[i].name.Length >= 25 ? plist.productInfos[i].name.Substring(0, 25) + "..." : plist.productInfos[i].name)
                                                    </div>
                                                    <div style="height:33%;align-content:center">
                                                        @(plist.productInfos[i].description.Length >= 25 ? plist.productInfos[i].description.Substring(0, 25) + "..." : plist.productInfos[i].description)
                                                    </div>
                                                    <div class="mzh-col" style="height:33%;align-content:center">
                                                        <div>
                                                            @plist.productInfos[i].shopprice
                                                        </div>
                                                        <div style="margin-left:5px;text-decoration:line-through;">
                                                            <span style="color:gray">
                                                                @plist.productInfos[i].marketprice
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3" style="line-height:120px;height:120px">
                                        @plist.productInfos[i].displayorder
                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-row">
                                            <div class="layui-col-md4" style="line-height:120px;height:120px">
                                                <a class="layui-btn layui-btn-normal product-edit" data-pid="@plist.productInfos[i].pid" data-cateid="@plist.cateid">编辑</a>
                                            </div>
                                            <div class="layui-col-md4" style="line-height:120px;height:120px">
                                                <a class="layui-btn layui-btn-normal product-editsku" data-pid="@plist.productInfos[i].pid" data-cateid="@plist.cateid" data-pname="@plist.productInfos[i].name">编辑sku信息</a>
                                            </div>
                                            <div class="layui-col-md4" style="line-height:120px;height:120px">
                                                <a class="layui-btn layui-btn-danger product-delete" data-pid="@plist.productInfos[i].pid" data-cateid="@plist.cateid">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else if (cateid == 0)
                {
                    <div class="layui-card catecard" style="background-color: rgba(246, 250, 249, 1);" id="card-@plist.cateid">
                        <div class="layui-card-header">@plist.catecategoryName</div>
                        <div class="layui-card-body">
                            @for (int i = 0; i < plist.productInfos.Count; i++)
                            {
                                <div class="layui-row" id="prow-@plist.cateid-@plist.productInfos[i].pid" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:@(i==0?0:20)px">
                                    <div class="layui-col-md3">
                                        <div class="layui-row">
                                            <div class="mzh-col" style="height:120px">
                                                <div style="width:200px;height:100%;margin-right:5px">
                                                    <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                                                    @*<img src="@plist.productInfos[i].showimg"/>*@
                                                </div>
                                                <div class="layui-row" style="height:100%">
                                                    <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                                        @(plist.productInfos[i].name.Length >= 25 ? plist.productInfos[i].name.Substring(0, 25) + "..." : plist.productInfos[i].name)
                                                    </div>
                                                    <div style="height:33%;align-content:center">
                                                        @(plist.productInfos[i].description.Length >= 25 ? plist.productInfos[i].description.Substring(0, 25) + "..." : plist.productInfos[i].description)
                                                    </div>
                                                    <div class="mzh-col" style="height:33%;align-content:center">
                                                        <div>
                                                            @plist.productInfos[i].shopprice
                                                        </div>
                                                        <div style="margin-left:5px;text-decoration:line-through;">
                                                            <span style="color:gray">
                                                                @plist.productInfos[i].marketprice
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3" style="line-height:120px;height:120px">
                                        @plist.productInfos[i].displayorder
                                    </div>
                                    <div class="layui-col-md6">
                                        <div class="layui-row">
                                            <div class="layui-col-md4" style="line-height:120px;height:120px">
                                                <a class="layui-btn layui-btn-normal product-edit" data-pid="@plist.productInfos[i].pid" data-cateid="@plist.cateid">编辑商品信息</a>
                                            </div>
                                            <div class="layui-col-md4" style="line-height:120px;height:120px">
                                                <a class="layui-btn layui-btn-normal product-editsku" data-pid="@plist.productInfos[i].pid" data-cateid="@plist.cateid" data-pname="@plist.productInfos[i].name">编辑sku信息</a>
                                            </div>
                                            <div class="layui-col-md4" style="line-height:120px;height:120px">
                                                <a class="layui-btn layui-btn-danger product-delete" data-pid="@plist.productInfos[i].pid" data-cateid="@plist.cateid">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/wwwroot/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/wwwroot/js/lay-config.js"></script>
    <script src="~/wwwroot/js/lay-module/layuimini/miniTab.js" charset="utf-8"></script>
    <script src="~/Scripts/mzhconfig.js"></script>

    <script>
        layui.use(['form', 'miniTab', 'layer'], function () {
            var $ = layui.jquery,
                form = layui.form,
                miniTab = layui.miniTab,
                layer = layui.layer;
            //form.on('select(ptype)', function (data) {
            //    console.log(data);
            //    changePtype(data.value);
            //    return false;
            //});

            $(".product-add").click(function () {
                var index = layer.open({
                    title: '添加商品',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/Product/ProductAdd',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            })

            $(".product-edit").click(function () {
                var index = layer.open({
                    title: '编辑商品信息',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/Product/ProductEdit?cateid=' + $(this).data("cateid") + '&pid=' + $(this).data("pid") ,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            })

            $(".product-editsku").click(function () {
                var index = layer.open({
                    title: '编辑商品sku信息(' + $(this).data("pname")+')',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/Product/ProductEditSKU?cateid=' + $(this).data("cateid") + '&pid=' + $(this).data("pid") + '&pname=' + $(this).data("pname"),
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            })

            $(".product-delete").click(function () {
                var obj = $("#prow-" + $(this).data('cateid') + "-" + $(this).data('pid'));
                var that = this;
                layer.confirm('确认删除吗？', {
                    btn: ['确认', '取消'] //按钮
                }, function () {
                        $.ajax({
                            type: 'post',
                            url: domain + '/Product/Deleteproduct',
                            data: { pid: $(that).data('pid') },
                            success: function (res) {
                                if (res.state == 1) {
                                    obj.hide();
                                }
                                layer.alert(res.msg);
                            }
                        })
                        return false;
                });
                
            })

            $(".query").click(function () {
                var ptype = $("#producttypeselect").val();
                var isonsale = $("#isonsale").val();
                window.location.href = window.location.href.split('?')[0] + '?cateid=' + ptype + '&isonsale=' + isonsale;
                console.log(window.location.href.split('?')[0] + '?cateid=' + ptype + '&isonsale=' + isonsale)
            })
        });

        //分类改变时刷新数据
        function changePtype(cateid) {
            var cards = $(".catecard");
            if (cateid == '0') {
                for (var i = 0; i < cards.length; i++) {
                    $(cards[i]).show();
                }
            } else {
                for (var i = 0; i < cards.length; i++) {
                    if (cards[i].id != 'card-' + cateid) {
                        $(cards[i]).hide();
                    } else {
                        $(cards[i]).show();
                    }
                }
            }


            //for (var card in cards) {
            //    if ($(card).id != 'cate-'+cateid) {
            //        $(card).hide();
            //    }
            //}
        }

    </script>
</body>
</html>

