@using Mzh.Public.Model.Model;
@{
    GroupInfoModel GroupInfo = ViewBag.GroupInfo as GroupInfoModel;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/wwwroot/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/wwwroot/css/public.css" media="all">
</head>
<body>
    <div class="layuimini-main">
        <div class="layui-form-item">
            <label class="layui-form-label required">优惠券信息</label>
            <div class="layui-input-block">
                <input type="text" name="groupoid" id="groupoid" lay-verify="required" lay-reqtext="" placeholder="" value="@GroupInfo.title" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">拼团超时时间限制(分钟)</label>
            <div class="layui-input-block">
                <input type="number" name="maxtime" id="maxtime" lay-verify="required" lay-reqtext="" placeholder="" value="@(GroupInfo.maxtime/60)" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">拼团价</label>
            <div class="layui-input-block">
                <input type="number" name="groupprice" id="groupprice" lay-verify="required" lay-reqtext="" placeholder="" value="@GroupInfo.groupprice" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">原价</label>
            <div class="layui-input-block">
                <input type="number" name="shopprice" id="shopprice" lay-verify="required" lay-reqtext="" placeholder="" value="@GroupInfo.shopprice" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">需要人数</label>
            <div class="layui-input-block">
                <input type="number" name="needcount" id="needcount" lay-verify="required" lay-reqtext="" placeholder="" value="@GroupInfo.needcount" class="layui-input" disabled>
            </div>
        </div>
        @*<div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn" id="submitBtn">确认保存</button>
            </div>
        </div>*@
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/wwwroot/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/Scripts/mzhconfig.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        $(document).ready(function () {
            //$('input[type=radio][name=type]').change(function () {
            //    if (this.value == '1') {
            //        $("#fullcut-box").show();
            //        $("#discount-box").hide();
            //    }
            //    else if (this.value == '2') {
            //        $("#fullcut-box").hide();
            //        $("#discount-box").show();
            //    }
            //});
            //$('input[type=radio][name=isuseexpiretime]').change(function () {
            //    if (this.value == '1') {
            //        $("#useexpiretime-box").show();
            //        $("#nouseexpiretime-box").hide();
            //    }
            //    else if (this.value == '0') {
            //        $("#useexpiretime-box").hide();
            //        $("#nouseexpiretime-box").show();
            //    }
            //});

            $('#submitBtn').click(function () {
                //console.log($('input:radio[name="isuseexpiretime"]:checked').val())
                var coupontypeid = $("#coupontypeid").val();
                if (coupontypeid == 0) {
                    alert("必须选择优惠券");
                    return;
                }
                if ($("#maxtime").val() == '') {
                    alert("拼团超时时间限制不能为空");
                    return;
                }
                if ($("#maxtime").val() <= 0) {
                    alert("拼团超时时间限制必须大于0");
                    return;
                }
                if ($("#groupprice").val() == '') {
                    alert("拼团价不能为空");
                    return;
                }
                if ($("#groupprice").val() <= 0) {
                    alert("拼团价必须大于0");
                    return;
                }
                if ($("#shopprice").val() == '') {
                    alert("原价不能为空");
                    return;
                }
                if ($("#shopprice").val() <= 0) {
                    alert("原价必须大于0");
                    return;
                }
                if ($("#needcount").val() == '') {
                    alert("需要人数不能为空");
                    return;
                }
                if ($("#needcount").val() <= 0) {
                    alert("需要人数必须大于0");
                    return;
                }

                requestdata = {
                    "groupinfoid": 0,
                    "grouptype": 1,
                    "groupoid": coupontypeid,
                    "pid": 0,
                    "starttime": "2020-12-04T11:24:59.7898714+08:00",
                    "endtime": "2020-12-04T11:24:59.7898714+08:00",
                    "groupprice": $("#groupprice").val(),
                    "shopprice": $("#shopprice").val(),
                    "needcount": $("#needcount").val(),
                    "maxtime": $("#maxtime").val() * 60
                }
                console.log('requestdata')
                console.log(requestdata)
                //新增
                $.ajax({
                    url: domain + '/Group/CreateGroupInfo',
                    data: requestdata,
                    dataType: 'json',
                    async: false,
                    type: 'post',
                    beforeSend: function () {
                        showloading(true);
                    },
                    success: function (res) {
                        showloading(false);
                        var index = layer.alert(res.msg, {
                            title: '结果'
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            if (res.state == 1) {
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.location.reload(); //刷新父页面
                            }
                        });
                    }
                })
                return false
            })
        });

        layui.use(['form', 'laydate'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$, laydate = layui.laydate;;

            laydate.render({
                elem: '#usestarttime'
            });
            laydate.render({
                elem: '#useendtime'
            });
            laydate.render({
                elem: '#sendendtime'
            });
            laydate.render({
                elem: '#sendstarttime'
            });

            //监听提交
            //form.on('submit(saveBtn)', function (data) {
            //    var data = data.field;
            //    var coupontypeid = data.coupontypeid;
            //    if (coupontypeid == 0) {
            //        requestdata = {
            //            "ct_coupontypeid": data.coupontypeid,
            //            "ct_state": 0,
            //            "ct_name": data.coupontypeid.name,
            //            "ct_getmode": 0,
            //            "ct_usemode": 0,
            //            "ct_sendstarttime": data.sendstarttime,
            //            "ct_sendendtime": data.sendendtime,
            //            "ct_useexpiretime": data.isuseexpiretime == 1 ? data.expireday*3600*24:1,
            //            "ct_usestarttime": data.usestarttime,
            //            "ct_useendtime": data.useendtime,
            //            "ct_type": data.type,
            //            "ct_isstack": data.isstack,
            //            "ct_fullmoney": data.fullmoney,
            //            "ct_cutmoney": data.ct_cutmoney,
            //            "ct_discount": data.discount,
            //            "ct_pid": 0
            //        }
            //        //新增
            //        $.ajax({
            //            url: domain + '/Coupon/AddCoupon',
            //            data: requestdata,
            //            dataType: 'json',
            //            async: false,
            //            type: 'post',
            //            beforeSend: function () {
            //                showloading(true);
            //            },
            //            success: function (res) {
            //                showloading(false);
            //                var index = layer.alert(res.msg, {
            //                    title: '结果'
            //                }, function () {
            //                    // 关闭弹出层
            //                    layer.close(index);
            //                    if (res.state == 1) {
            //                        var iframeIndex = parent.layer.getFrameIndex(window.name);
            //                        parent.layer.close(iframeIndex);
            //                        parent.location.reload(); //刷新父页面
            //                    }

            //                });
            //            }
            //        })
            //    } else {
            //        //编辑=
            //        $.ajax({
            //            url: domain + '/Product/UpdateCateGory?name=' + username + (data.displayorder == '' ? '' : ('&displayorder=' + displayorder)) + '&cateid=' + cateid,
            //            data: {},
            //            dataType: 'json',
            //            async: false,
            //            type: 'post',
            //            beforeSend: function () {
            //                showloading(true);
            //            },
            //            success: function (res) {
            //                showloading(false);
            //                console.log(res);

            //                var index = layer.alert(res.msg, {
            //                    title: '结果'
            //                }, function () {
            //                    // 关闭弹出层
            //                    layer.close(index);
            //                    if (res.state == 1) {
            //                        var iframeIndex = parent.layer.getFrameIndex(window.name);
            //                        parent.layer.close(iframeIndex);
            //                        parent.location.reload(); //刷新父页面
            //                    }
            //                });
            //            }
            //        })
            //    }

            //    return false;
            //});

        });
    </script>
</body>
</html>