@{ 

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/wwwroot/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/wwwroot/css/public.css" media="all">
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block" style="width:200px">
                            <div class="layui-input-inline">
                                <input type="text" name="date" id="startTime" lay-verify="date" value="@ViewBag.startTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block" style="width:200px">
                            <div class="layui-input-inline">
                                <input type="text" name="date" id="endTime" lay-verify="date" value="@ViewBag.endTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">订单编号</label>
                        <div class="layui-input-block" style="width:200px">
                            <input type="text" name="title" lay-verify="title" id="orderid" autocomplete="off" placeholder="订单编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-primary query">查询</a>
                    </div>
                </div>
            </form>

            @*<div class="layui-card catecard" style="background-color: rgba(246, 250, 249, 1);">

        </div>*@
        <div class="layui-card-body" id="orderlist-box">
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-danger order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-danger order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row" style="margin-left:5%;width:90%;border:1px #808080 thin groove;background-color:white;margin-top:10px">
                <div class="layui-col-md6">
                    <div class="layui-row">
                        <div class="mzh-col" style="height:120px">
                            @*<div style="width:200px;height:100%;margin-right:5px">
                            <img style="width:100%;height:100%" src="@plist.productInfos[i].showimg" />
                            <img src="@plist.productInfos[i].showimg"/>
                        </div>*@
                            <div class="layui-row" style="height:100%">
                                <div style="margin-top:6%;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">
                                    订单编号
                                </div>
                                <div style="height:33%;align-content:center">
                                    订单金额
                                </div>
                                @*<div class="mzh-col" style="height:33%;align-content:center">
                                <div>
                                    1111
                                </div>
                                <div style="margin-left:5px;text-decoration:line-through;">
                                    <span style="color:gray">
                                        2222
                                    </span>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="layui-col-md3" style="line-height:120px;height:120px">
                @plist.productInfos[i].displayorder
            </div>*@
                <div class="layui-col-md3">
                    <div class="layui-row">
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-sender">发货</a>
                        </div>
                        <div class="layui-col-md4" style="line-height:120px;height:120px">
                            <a class="layui-btn layui-btn-normal order-use">预定使用</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/wwwroot/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/wwwroot/js/lay-config.js"></script>
    <script src="~/wwwroot/js/lay-module/layuimini/miniTab.js" charset="utf-8"></script>
    <script src="~/Scripts/mzhconfig.js"></script>

    <script>
        var page = 1;
        var count = 20;

        window.onload = function () {
            ClearOrderList();
            GetMoreOrder();
        }

        function ClearOrderList() {
            $("#orderlist-box").html('');
        }

        function GetMoreOrder() {
            $.ajax({
                type: 'post',
                url: '/Order/GetOrderList?startTime=' + $("#startTime").val() + '&endTime=' + $("#endTime").val() + '&page=' + page + '&count=' + count + '&orderid=' + $("#orderid").val(),
                dataType:'json',
                success: function (res) {
                    if (res.length > 0) {
                        page = page + 1;
                        for (var index in res) {
                            var detail = ''
                            for (var index2 in res[index].orderProducts) {
                                detail = detail + res[index].orderProducts[index2].op_name + '*' + res[index].orderProducts[index2].op_buycount + '   ';
                            }

                            var optionHtml = '';
                            if (res[index].orderstate == 2) {
                                optionHtml = '<div class="layui-col-md4" style="line-height:120px;height:120px">'
                                    + '<a class="layui-btn layui-btn-danger order-sender" data-oid=' + res[index].oid + '>发货</a>'
                                    + '</div>';
                            } else if (res[index].orderstate == 4) {
                                optionHtml = '<div class="layui-col-md4" style="line-height:120px;height:120px">'
                                    + '<a class="layui-btn layui-btn-danger order-use" data-oid=' + res[index].oid + '>预定使用</a>'
                                    + '</div>'
                            } else if (res[index].orderstate == 6) {
                                optionHtml = '<div class="layui-col-md4" style="line-height:120px;height:120px">'
                                    + '<a class="layui-btn layui-btn-danger order-refund" data-oid=' + res[index].oid + '>完成退款</a>'
                                    + '</div>'
                            }

                            $("#orderlist-box").append('<div class="layui-row" style="margin-left:5%;width:90%;border:2px #222222 thin groove;background-color:#DDDDDD;margin-top:20px">'
                                +'<div class="layui-col-md6">'
                                +'<div class="layui-row">'
                                +'<div class="mzh-col" style="height:120px">'
                                + '<div class="layui-row" style="height:100%">'
                                + '<div style="margin-top:20px;height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">'
                                + '订单编号  '+res[index].oid+'       用户手机号:'+res[index].mobile
                                + '</div>'
                                + '<div style="height:27%;align-content:center;font-family: SimHei;font-weight:bold;font-size:15px">'
                                + '详情:  '+detail
                                + '</div>'
                                + '<div style="height:33%;align-content:center">'
                                + '订单金额   ' +res[index].orderamount
                                + '</div>'
                                + '</div>'
                                + '</div>'
                                + '</div>'
                                + '</div>'
                                + '<div class="layui-col-md3">'
                                + '<div class="layui-row">'
                                + '<div class="layui-col-md4" style="line-height:120px;height:120px">'
                                + '<a class="layui-btn layui-btn-danger order-detail">订单详情</a>'
                                + '</div>'
                                + optionHtml
                                + '</div>'
                                + '</div>'
                                +'</div>')
                        }

                        $(".order-sender").unbind()
                        $(".order-sender").click(function () {
                            $.ajax({
                                type: 'post',
                                url: '/Order/SendOrder?oid=' + $(this).data('oid'),
                                dataType: 'json',
                                success: function (res) {
                                    if (res.state == 1) {
                                        $(".query").click()
                                    }
                                }
                            })
                        });

                        $(".order-use").unbind()
                        $(".order-use").click(function () {
                            $.ajax({
                                type: 'post',
                                url: '/Order/UseShopOder?oid=' + $(this).data('oid'),
                                dataType: 'json',
                                success: function (res) {
                                    if (res.state == 1) {
                                        $(".query").click()
                                    }
                                }
                            })
                        });

                        $(".order-refund").unbind()
                        $(".order-refund").click(function () {
                            $.ajax({
                                type: 'post',
                                url: '/Order/QueryRefund?oid=' + $(this).data('oid'),
                                dataType: 'json',
                                success: function (res) {
                                    if (res.state == 1) {
                                        $(".query").click()
                                    }
                                }
                            })
                        });
                    }
                }
            })
        }

        $(".query").click(function () {
            page = 1;
            ClearOrderList();
            GetMoreOrder();
        })
        

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            laydate.render({
                elem: '#startTime'
            });
            laydate.render({
                elem: '#endTime'
            });
        })
    </script>
</body>
</html>