@using Mzh.Public.Model.Model;
@{
    int bannerid = ViewBag.bannerid;
    var banner = ViewBag.banner as ShowBannerInfo;
    var products = ViewBag.products as List<ShowProductInfo>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/wwwroot/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="~/wwwroot/css/public.css" media="all">
</head>
<body>
    <div class="layuimini-main">
        <div class="layui-form-item" style="display:none">
            <label class="layui-form-label required">轮播图id</label>
            <div class="layui-input-block">
                <input type="text" name="bannerid" id="bannerid" value="@bannerid" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">轮播图标题（仅在后台用于区分）</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="title" lay-verify="required" lay-reqtext="名称不能为空" placeholder="" value="@(bannerid == 0?"":banner.title)" class="layui-input">
                @*<tip>不能与其他优惠券名称重复。</tip>*@
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:20px">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <div id="cupload-img"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="前往指定商品详情页">前往指定商品详情页
                <input type="radio" name="type" value="3" title="仅用于展示" checked>仅用于展示
            </div>
        </div>
        <div id="type-box" style="display:none">
            <div class="layui-form-item">
                <label class="layui-form-label">跳转商品</label>
                <div class="layui-input-block">
                    <select name="url" id="url" lay-filter="aihao">
                        @foreach (var p in products)
                        {
                            if (bannerid > 0 && int.Parse(banner.url) == p.pid)
                            {
                                <option value="@p.pid" selected="">@p.name</option>
                            }
                            else
                            {
                                <option value="@p.pid">@p.name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input type="number" name="displayorder" id="displayorder" placeholder="" value="@(bannerid == 0?0:banner.displayorder)" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn" id="submitBtn">确认保存</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/wwwroot/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="~/Scripts/mzhconfig.js"></script>
    <script src="~/wwwroot/js/cupload.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>

        var cuploadimg = new Cupload({
            ele: '#cupload-img',
            num: 1,
            @if(bannerid > 0)
            {
                @:data:["@banner.img"]
            }
        });

        $(document).ready(function () {
            $('input[type=radio][name=type]').change(function () {
                if (this.value == '1') {
                    $("#type-box").show();
                }
                else if (this.value == '3') {
                    $("type-box").hide();
                }
            });

            @if(bannerid>0&&banner.type == 1)
            {
                @:$("input[name='type'][value='1']").attr("checked", true);
                @:$("#type-box").show();
            }


            $('#submitBtn').click(function () {
                var bannerid = $("#bannerid").val()
                //检验
                if ($("#title").val() == '') {
                    alert("轮播图标题不能为空");
                    return;
                }
                if ($('input:radio[name="type"]:checked').val() == 1) {
                    if ($("#url").val() == '') {
                        alert("必须选择跳转商品");
                        return;
                    }
                }

                var showimg = '';
                if (cuploadimg.imageInput.length == 0) {
                    layer.alert("图片必须上传！");
                    return false;
                }
                if (cuploadimg.imageInput[cuploadimg.imageInput.length - 1].value.indexOf("boiledchicken") != -1) {
                    showimg = cuploadimg.imageInput[cuploadimg.imageInput.length - 1].value;
                } else {
                    $.ajax({
                        type: 'post',
                        url: domain + '/Upload/Base64Str',
                        data: { base64str: cuploadimg.imageInput[cuploadimg.imageInput.length - 1].value },
                        async: false,
                        success: function (res) {
                            if (res.state == 1) {
                                showimg = res.msg;
                            } else {
                                showloading(false);
                                layer.alert("图片上传失败");
                                return false;
                            }
                        }
                    })
                }


                requestdata = {
                    "bannerid": bannerid,
                    "bannerType": $('input:radio[name="type"]:checked').val(),
                    "starttime": '1997-01-27',
                    "endtime": '1997-01-27',
                    "title": $("#title").val(),
                    "img": showimg,
                    "url": $("#url").val(),
                    "displayorder": $("#displayorder").val()
                }
                console.log('requestdata')
                console.log(requestdata)
                $.ajax({
                    url: domain + '/Banner/AddBanner',
                    data: requestdata,
                    dataType: 'json',
                    async: false,
                    type: 'post',
                    beforeSend: function () {
                        showloading(true);
                    },
                    success: function (res) {
                        showloading(false);
                        var index = layer.alert(res.msg, {
                            title: '结果'
                        }, function () {
                            // 关闭弹出层
                            layer.close(index);
                            if (res.state == 1) {
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.location.reload(); //刷新父页面
                            }

                        });
                    }
                })
                return false
            })
        });

        layui.use(['form', 'laydate'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$, laydate = layui.laydate;;

            laydate.render({
                elem: '#usestarttime'
            });
            laydate.render({
                elem: '#useendtime'
            });
            laydate.render({
                elem: '#sendendtime'
            });
            laydate.render({
                elem: '#sendstarttime'
            });

            //监听提交
            //form.on('submit(saveBtn)', function (data) {
            //    var data = data.field;
            //    var coupontypeid = data.coupontypeid;
            //    if (coupontypeid == 0) {
            //        requestdata = {
            //            "ct_coupontypeid": data.coupontypeid,
            //            "ct_state": 0,
            //            "ct_name": data.coupontypeid.name,
            //            "ct_getmode": 0,
            //            "ct_usemode": 0,
            //            "ct_sendstarttime": data.sendstarttime,
            //            "ct_sendendtime": data.sendendtime,
            //            "ct_useexpiretime": data.isuseexpiretime == 1 ? data.expireday*3600*24:1,
            //            "ct_usestarttime": data.usestarttime,
            //            "ct_useendtime": data.useendtime,
            //            "ct_type": data.type,
            //            "ct_isstack": data.isstack,
            //            "ct_fullmoney": data.fullmoney,
            //            "ct_cutmoney": data.ct_cutmoney,
            //            "ct_discount": data.discount,
            //            "ct_pid": 0
            //        }
            //        //新增
            //        $.ajax({
            //            url: domain + '/Coupon/AddCoupon',
            //            data: requestdata,
            //            dataType: 'json',
            //            async: false,
            //            type: 'post',
            //            beforeSend: function () {
            //                showloading(true);
            //            },
            //            success: function (res) {
            //                showloading(false);
            //                var index = layer.alert(res.msg, {
            //                    title: '结果'
            //                }, function () {
            //                    // 关闭弹出层
            //                    layer.close(index);
            //                    if (res.state == 1) {
            //                        var iframeIndex = parent.layer.getFrameIndex(window.name);
            //                        parent.layer.close(iframeIndex);
            //                        parent.location.reload(); //刷新父页面
            //                    }

            //                });
            //            }
            //        })
            //    } else {
            //        //编辑=
            //        $.ajax({
            //            url: domain + '/Product/UpdateCateGory?name=' + username + (data.displayorder == '' ? '' : ('&displayorder=' + displayorder)) + '&cateid=' + cateid,
            //            data: {},
            //            dataType: 'json',
            //            async: false,
            //            type: 'post',
            //            beforeSend: function () {
            //                showloading(true);
            //            },
            //            success: function (res) {
            //                showloading(false);
            //                console.log(res);

            //                var index = layer.alert(res.msg, {
            //                    title: '结果'
            //                }, function () {
            //                    // 关闭弹出层
            //                    layer.close(index);
            //                    if (res.state == 1) {
            //                        var iframeIndex = parent.layer.getFrameIndex(window.name);
            //                        parent.layer.close(iframeIndex);
            //                        parent.location.reload(); //刷新父页面
            //                    }
            //                });
            //            }
            //        })
            //    }

            //    return false;
            //});

        });
    </script>
</body>
</html>